<html>
<head>
<title>item_plaga_enfermedad.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #7a7e85;}
.s1 { color: #bcbec4;}
.s2 { color: #d5b778;}
.s3 { color: #bcbec4;}
.s4 { color: #6aab73;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
item_plaga_enfermedad.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!-- item_plaga_enfermedad.xml --&gt;</span>
<span class="s2">&lt;LinearLayout </span><span class="s3">xmlns:android</span><span class="s4">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s3">android:layout_width</span><span class="s4">=&quot;match_parent&quot;</span>
    <span class="s3">android:layout_height</span><span class="s4">=&quot;wrap_content&quot;</span>
    <span class="s3">android:orientation</span><span class="s4">=&quot;vertical&quot;</span>
    <span class="s3">android:padding</span><span class="s4">=&quot;16dp&quot;</span><span class="s2">&gt;</span>

    <span class="s2">&lt;ImageView</span>
        <span class="s3">android:id</span><span class="s4">=&quot;@+id/imagenPlaga&quot;</span>
        <span class="s3">android:layout_width</span><span class="s4">=&quot;match_parent&quot;</span>
        <span class="s3">android:layout_height</span><span class="s4">=&quot;150dp&quot;</span>
        <span class="s3">android:scaleType</span><span class="s4">=&quot;centerCrop&quot;</span>
        <span class="s3">android:src</span><span class="s4">=&quot;@drawable/plaga1&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;TextView</span>
        <span class="s3">android:id</span><span class="s4">=&quot;@+id/nombrePlaga&quot;</span>
        <span class="s3">android:layout_width</span><span class="s4">=&quot;match_parent&quot;</span>
        <span class="s3">android:layout_height</span><span class="s4">=&quot;wrap_content&quot;</span>
        <span class="s3">android:textSize</span><span class="s4">=&quot;18sp&quot;</span>
        <span class="s3">android:textStyle</span><span class="s4">=&quot;bold&quot;</span>
        <span class="s3">android:layout_marginTop</span><span class="s4">=&quot;8dp&quot;</span>
        <span class="s3">android:text</span><span class="s4">=&quot;Nombre de la Plaga/Enfermedad&quot; </span><span class="s2">/&gt;</span>

    <span class="s2">&lt;TextView</span>
        <span class="s3">android:id</span><span class="s4">=&quot;@+id/descripcionPlaga&quot;</span>
        <span class="s3">android:layout_width</span><span class="s4">=&quot;match_parent&quot;</span>
        <span class="s3">android:layout_height</span><span class="s4">=&quot;wrap_content&quot;</span>
        <span class="s3">android:textSize</span><span class="s4">=&quot;16sp&quot;</span>
        <span class="s3">android:layout_marginTop</span><span class="s4">=&quot;4dp&quot;</span>
        <span class="s3">android:text</span><span class="s4">=&quot;Descripción de la Plaga/Enfermedad&quot; </span><span class="s2">/&gt;</span>

<span class="s2">&lt;/LinearLayout&gt;</span>
</pre>
</body>
</html>